img.smile {
    display: block;
    background-color: lightblue;
    padding: 20px;
    border: 10px solid red;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 40px;
}

img.happy {
    display: block;
    background-color: lightblue;
    padding: 20px;
    border: 10px solid red;
    margin-top: 0px;
    margin-left: 200px;
    margin-right: 40px
}

img.laugh {
    display: block;
    background-color: lightblue;
    padding: 20px;
    border: 10px solid red;
    margin-top: 0px;
    margin-left: 378px;
    margin-right: 40px;

}